<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.jakewharton.threetenabp"/>
    <!-- Used for instrumentation tests. -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <!-- Used for telescope. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
